<mat-grid-list cols="4" rowHeight="4:2">

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
              </mat-card>
           <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
           </mat-card>
       </div>
    </div>
</mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>w
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class='card-container'>
      <div class='flippable-card' [ngClass]="{'flipped':flipped}" (click)='flipped = !flipped'>
        <mat-card class=''>
          <mat-card-title>Booya</mat-card-title>
        </mat-card>
        <mat-card class='back'>
          <mat-card-title>to a</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>





</mat-grid-list>


